<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" contetn="ie=edge">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <title>QuotingDojo | Add Quote</title>
    </head>
    <body>
        <h2>Welcome to QuotingDojo</h2>
        <h3>@ViewBag.Error</h3>
        <a href='/'><button type=''>add quote</button></a>
    </body>
</html>